.Rproj.user
.Rhistory
.RData
.Ruserdata
.snakemake
.virtual_documents
.spyproject
**/.ipynb_checkpoints
**/__pycache__
*.feather
*.parquet
data/**/*.csv
*.sif
tmp/
# compiled Stan executables
analysis/rbf_stan/rbf_b0_single_trial
analysis/rbf_stan/rbf_multilevel
